/* Tipografias */

/* 48px / 64px */
.xxl-1-r {
  font: 700 3rem/4rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
}

/* 36px / 48px */
.l-1-r {
  font: 700 2.25rem/3rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
}

/* 32px / 38px */
.l-2-r {
  font: 700 2rem/2.375rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
}

/* 24px / 36px */
.m-1-e {
  font: 400 1.5rem/2.25rem "Eczar", sans-serif;
  letter-spacing: 0.01rem;
}

/* 24px / 32px */
.m-1-r {
  font: 500 1.5rem/2rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
/* 18px / 32px */
.s-1-r {
  font: 700 1.125rem/2rem "Rubik", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}
/* 18px / 32px */
.s-2-r {
  font: 500 1.125rem/2rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.s-3-r,
.s-4-r {
  font: 500 1.125rem/2rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
}
.s-4-r {
  letter-spacing: 0.01rem;
}
/* 18px / 32px */
.s-1-e {
  font: 400 1.125rem/2rem "Eczar", sans-serif;
  letter-spacing: 0.01rem;
}

/* 16px / 32px */
.xs-1-r,
.xs-1-r-t {
  font: 700 1rem/2rem "Rubik", sans-serif;
  letter-spacing: 0.01rem;
}
.xs-1-r-t {
  text-transform: uppercase;
}

/* 16px / 24px */
.xs-2-r {
  font: 500 1rem/1.5rem "Rubik", sans-serif;
  letter-spacing: 0.05rem;
}

/* Cores */

:root {
  --c1: #fafafa;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #cccccc;
  --c5: #b8b8b8;
  --c6: #a3a3a3;
  --c7: #8f8f8f;
  --c8: #7a7a7a;
  --c9: #666666;
  --c10: #525252;
  --c11: #3d3d3d;
  --c12: #292929;
  --c13: #141414;
}

.c1 {
  color: var(--c1);
}
.c2 {
  color: var(--c2);
}
.c3 {
  color: var(--c3);
}
.c4 {
  color: var(--c4);
}
.c5 {
  color: var(--c5);
}
.c6 {
  color: var(--c6);
}
.c6 {
  color: var(--c6);
}
.c7 {
  color: var(--c7);
}
.c8 {
  color: var(--c8);
}
.c9 {
  color: var(--c9);
}
.c10 {
  color: var(--c10);
}
.c11 {
  color: var(--c11);
}
.c12 {
  color: var(--c12);
}
.c13 {
  color: var(--c13);
}

/* Fade Animation */
@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Tool Tip */

.tool_tip {
  background: var(--c13);
  color: var(--c1);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 87px;
  z-index: 100;
  border-radius: 4px;
  font: 500 0.875rem/1rem "Rubik", sans-serif;
  animation: fade 0.3s forwards;
}
.tool_tip::before {
  content: "";

  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -12px;

  background: url("./assets/tool_tip_indicador.svg") no-repeat center;
}
